{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-lg bg-base-100 shadow m-10">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-lock text-2xl"></span>
                Izmena lozinke
            </h2>

            {{ include('flashes.html.twig') }}

            <div>
                {% form_theme form 'form.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
