{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.twig" as macro %}
    {{ macro.back('home') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user text-2xl"></span>
                Izmena korisničkih podataka
            </h2>

            {{ include('flashes.html.twig') }}

            <div>
                {% form_theme form 'form.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
