{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.twig" as macro %}
    {{ macro.back('home') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-cog text-3xl"></span>
                Obrazac za delegate
            </h2>

            <div class="alert alert-warning mb-4">
                <span class="ti ti-info-circle text-2xl"></span>
                <span>Vaš zahtev za delegata je već obrađen od strane administratora. U slučaju da niste dobili povratnu informaciju molimo Vas da nas kontaktirate.</span>
            </div>

            <div class="">
                <div class="font-bold">Imate pitanje?</div>
                <div>Kontaktirajte nas na adresi: <a href="mailto:delegati@mrezasolidarnosti.org" target="_blank" class="link link-primary link-hover">delegati@mrezasolidarnosti.org</a></div>
            </div>
        </div>
    </div>
{% endblock %}
