{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('delegate_request') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-mail-check text-3xl text-green-600"></span>
                Potvrdite svoju email adresu kako bi zahtev za delegata bio uspešan
            </h2>

            <div class="font-bold">Vaš zahtev za delegata je uspešno evidentiran, ali je potrebno da verifikujete
                svoju email adresu kako bi proces bio završen.</div>
            <div>Uskoro će Vam stići email sa linkom za verifikaciju.</div>

            <div class="mt-4">
                <div class="font-bold">Imate pitanje?</div>
                <div>Pišite nam na: <a href="mailto:delegati@mrezasolidarnosti.org" class="link link-primary link-hover">delegati@mrezasolidarnosti.org</a></div>
            </div>
        </div>
    </div>
{% endblock %}
