{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.twig" as macro %}
    {{ macro.back('delegate_request') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Uspešno ste poslali zahtev za registraciju delegata!
            </h2>

            <div>Hvala vam što ste postali deo Mreže solidarnosti.</div>
            <div>Vaš zahtev za delegata je poslat administratorima, bićete uskoro kontaktirani radi dalje provere.</div>

            <div class="mt-4">
                <div class="font-bold">Imate pitanje?</div>
                <div>Kontaktirajte nas na adresi: <a href="mailto:donatori@mrezasolidarnosti.org" class="link link-primary link-hover">donatori@mrezasolidarnosti.org</a></div>
            </div>
        </div>
    </div>
{% endblock %}
