{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="text-xl">
        <span class="ti ti-user text-2xl"></span>
        Izmena korisničkih podataka
    </div>

    <div class="divider"></div>

    {{ include('flashes.html.twig') }}

    {% form_theme form with ['form.html.twig'] %}
    {{ form(form) }}
{% endblock %}