{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-4">
            <div class="rounded-lg bg-base-100 p-10 shadow-sm">
                <div class="text-center">
                    <span class="text-4xl font-bold">Mreža solidarnosti za prosvetu</span>
                </div>

                <div class="divider my-10">Prijava</div>
                {{ include('flashes.html.twig') }}

                <form method="POST">
                    <div class="mb-2">
                        <label class="input w-full">
                            <span class="ti ti-mail text-2xl opacity-50"></span>
                            <input type="email" name="email" placeholder="Email" />
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary w-full">Uloguj se</button>
                </form>

                <div class="divider my-10"></div>

                <div class="mt-8 text-center">
                    <span class="text-gray-500">Nemate nalog?</span>
                    <a href="{{ path('register') }}" class="link link-primary link-hover">Registrujte se</a>
                </div>

                <div class="mt-2 text-center text-gray-500">
                    <a href="{{ path('home') }}" class="link link-primary link-hover">
                        Vrati se na početnu
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
