{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <p>Klikni na dugme ispod kako bi se ulogovao/la na svoj nalog:</p>

    <p style="margin-bottom: 30px;">
        <a href="{{ link|raw }}" id="link" style="padding: 8px;border-radius: 8px;background: #262185;text-decoration: none;color: #FFF;font-weight: 700;">Uloguj se</a>
    </p>

    <div style="color: #888;">Ovaj link važi samo jednom i ističe za 10 minuta iz bezbednosnih razloga.</div>
    <div style="color: #888;">Ako ga nisi ti tražio/la, slobodno ignoriši ovu poruku.</div>
{% endblock %}
