{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Poštovani/a,</p>

    <p>Primili smo zahtev za promenu lozinke za Vaš nalog. Ako ste Vi podneli ovaj zahtev, molimo Vas da kliknete na link ispod kako biste postavili novu lozinku:</p>

    <p>
        <a href="{{ link|raw }}">{{ link|raw }}</a>
    </p>

    <p style="color: #888;">Ako niste Vi podneli zahtev, slobodno ignorišite ovu poruku, Vaša lozinka će ostati nepromenjena.</p>
{% endblock %}