<h1>Hi!</h1>
<p>Link: <a href="{{ link|raw }}" target="_blank">click here</a></p>

<h1>Hi! Reset your password</h1>

<p>
    You requested to reset your password. Click the link below to create a new one: <br><br>
    <a href="{{ link|raw }}">Reset my Password</a>.
</p>

<p>If you didn’t request a password reset, you can safely ignore this email.</p>
<p>Cheers!</p>