{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('home') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-calendar-event text-3xl"></span>
                Izaberite period
            </h2>

            <div class="space-y-4">
                {% for item in items %}
                    <a href="{{ path('delegate_damaged_educator_list', { 'period': item.id }) }}" class="flex items-center justify-between w-full p-6 transition-all rounded-lg shadow-sm hover:shadow-md {% if not item.active %}opacity-50 grayscale{% endif %} bg-info/10 border-l-4 border-info">
                        <div>
                            <h3 class="text-5xl text-gray-500">
                                {{ item.date|date('F')|trans }}
                            </h3>

                            {% if item.type != 'full' %}
                                <div>
                                    <div class="text-gray-400 ms-1">
                                        {% if item.type == 'first-half' %}
                                            Prva polovina
                                        {% else %}
                                            Druga polovina
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="text-8xl font-bold text-gray-300/80">{{ item.year }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
