{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Poštovani/a,</p>

    <p>Kako bismo potvrdili da je ova email adresa ispravna i da pripada Vama, molimo Vas da kliknete na link ispod:</p>

    <p>
        <a href="{{ signedUrl|raw }}" id="link">Verifikuj ovu email adresu</a>
    </p>

    <p style="color: #888;">Ako niste vi kreirali nalog, slobodno ignorišite ovu poruku.</p>
{% endblock %}
