{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <p>Kako bismo potvrdili da je ova email adresa ispravna i da pripada tebi, zamolićemo te da klikneš na dugme ispod:</p>

    <p style="margin-bottom: 30px;">
        <a href="{{ signedUrl|raw }}" id="link" style="padding: 8px;border-radius: 8px;background: #262185;text-decoration: none;color: #FFF;font-weight: 700;">Verifikuj email adresu</a>
    </p>

    <p style="color: #888;">Ako nisi ti kreirao/la nalog, slobodno ignoriši ovu poruku.</p>
{% endblock %}
