{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-4">
            <div class="rounded-lg bg-base-100 p-10 shadow-sm">
                <div class="text-center">
                    <span class="text-4xl font-bold">Mreža solidarnosti za prosvetu</span>
                </div>

                <div class="divider my-10">Registracija</div>
                {{ include('flashes.html.twig') }}

                {% form_theme form 'form.html.twig' %}
                {{ form(form) }}

                <div class="divider my-10"></div>

                <div class="text-center">
                    <span class="text-gray-500">Već imate nalog?</span>
                    <a href="{{ path('login') }}" class="link link-primary link-hover">Ulogujte se</a>
                </div>

                <div class="mt-2 text-center text-gray-500">
                    <a href="{{ path('home') }}" class="link link-primary link-hover">
                        Vrati se na početnu
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
