{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('home') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-mail-check text-3xl"></span>
                Uspe코na potvrda email adrese
            </h2>

            <div>Uspje코no ste potvrdili email adresu.</div>
            <div>Va코a podr코ka zna캜i mnogo svim na코im prosvetnim radnicima. 游눛</div>

            <div class="mt-4">
                <div class="font-bold">Imate pitanje?</div>
                <div>Pi코ite nam na: <a href="mailto:info@mrezasolidarnosti.org" class="link link-primary link-hover">info@mrezasolidarnosti.org</a></div>
            </div>
        </div>
    </div>
{% endblock %}
