<div class="flex flex-col items-center justify-center py-4">
    <img src="{{ qrDataUri }}" alt="NBS IPS QR kod" class="w-64 h-64" />
    <div class="mt-4 text-center">
        <div class="font-bold">NBS IPS QR</div>
        <div class="text-xs text-gray-500">Skenirajte kod za plaćanje</div>
    </div>
</div>
