html, body, head {
    background: #EFEFEF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.preview-lines {
    background-image: repeating-linear-gradient(-45deg, var(--color-base-100), var(--color-base-100) 13px, var(--color-base-200) 13px, var(--color-base-200) 14px);
}