{% macro navigation(routeName, totalPages, currentPage) %}
    {% if totalPages > 1 %}
        <div class="join flex justify-center my-5">
            <a href="{{ path(routeName, app.request.query.all|merge({ page: currentPage - 1 })) }}" class="join-item btn {% if currentPage == 1 %}btn-disabled{% endif %}">
                <i class="fa-solid fa-caret-left"></i> Predhodna
            </a>

            <a href="{{ path(routeName, app.request.query.all|merge({ page: currentPage + 1 })) }}" class="join-item btn {% if currentPage >= totalPages %}btn-disabled{% endif %}">
                Sledeća <i class="fa-solid fa-caret-right"></i>
            </a>
        </div>
    {% endif %}
{% endmacro %}