{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-lg bg-base-100 shadow m-10">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Uspe코no ste se registrovali kao donator!
            </h2>

            <p>Hvala vam 코to ste postali deo Mre쬰 solidarnosti.</p>
            <p>Va코a podr코ka zna캜i mnogo svim na코im prosvetnim radnicima. 游눛</p>

            <div class="mt-2">
                <p class="font-bold">Imate pitanje?</p>
                <p>Tu smo za vas: <a href="mailto:donatori@mrezasolidarnosti.org" class="link link-primary no-underline">donatori@mrezasolidarnosti.org</a></p>
            </div>
        </div>
    </div>
{% endblock %}
