{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.twig" as macro %}
    {{ macro.back('donor_subscribe') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Uspe코no ste se registrovali kao donator!
            </h2>

            <p>Hvala vam 코to ste postali deo Mre쬰 solidarnosti.</p>
            <p>Va코a podr코ka zna캜i mnogo svim na코im prosvetnim radnicima. 游눛</p>

            <div class="mt-4">
                <p class="font-bold">Imate pitanje?</p>
                <p>Kontaktirajte nas na adresi: <a href="mailto:donatori@mrezasolidarnosti.org" class="link link-primary link-hover">donatori@mrezasolidarnosti.org</a></p>
            </div>
        </div>
    </div>
{% endblock %}
