{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('delegate_request_form') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl text-green-600"></span>
                Uspešno ste se registrovali kao delegat za vaš kolektiv u obustavi!
            </h2>

            <div>Hvala vam na poverenju i spremnosti da podržite svoje kolege kroz Mrežu solidarnosti.</div>

            <div class="mt-4">
                <div class="font-bold">Šta dalje?</div>
                <div>Vašu prijavu sada treba da potvrdi neko od naših superdelegata ili članova zajednice – to je deo procesa verifikacije. Verifikacija podrazumeva da neko iz ove grupe, nezavisno od samog delegata, stupi u kontakt sa školom i potvrdi sledeće: da je navedeni delegat zaista član kolektiva, da učestvuje (ili je učestvovao) u obustavi rada, da je izabran od strane kolektiva da bude delegat u komunikaciji sa nama i da proveri da li je kolektiv informisan o Mreži solidarnosti.</div>
            </div>

            <div class="mt-4">Nakon uspešne verifikacije, dobićete dalje instrukcije za prijavu vaših kolega i uključivanje u mrežu.</div>

            <div class="mt-4">
                <span class="ti ti-speakerphone text-2xl text-red-300"></span>
                U međuvremenu, pridružite se našoj <a href="https://invite.viber.com/?g2=AQAFENwYMJqlmlRcGfBqYDbrzxXml9pqM%2FsINjpttULkwJ3cBn3DBekOFDmi5yBX" target="_blank" class="link link-primary link-hover">Viber zajednici</a> gde delimo važne informacije i odgovaramo na pitanja u realnom vremenu.
            </div>

            <div class="mt-4">
                <div class="font-bold">Imate dodatna pitanje?</div>
                <div>Pišite nam na: <a href="mailto:delegati@mrezasolidarnosti.org" class="link link-primary link-hover">delegati@mrezasolidarnosti.org</a></div>
            </div>
        </div>
    </div>
{% endblock %}
