<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mreža Solidarnosti - IT Srbija</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Srbija+Sans:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,700&display=swap" />
    <style>
        * {
            font-family: Inter, serif;
            line-height: 22px;
            color: #000000;
        }
    </style>
</head>
<body style="padding: 40px; background: #EFEFEF;">
    <img src="{{ absolute_url(asset('image/logo-email.svg')) }}">

    <div style="margin: 24px 0;">
        {% block body %}{% endblock %}
    </div>

    <div>
        <div>Ako imaš bilo kakvo pitanje – slobodno nam piši.</div>
        <div>Zajedno sa prosvetnim i univerzitetskim radnicima.</div>
        <div><b>Tvoja Mreža solidarnosti</b></div>
    </div>
</body>
</html>
