<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

    <title>Mreža solidarnosti - IT Srbija</title>
</head>
<body style="padding: 20px; background: #FFFFFF;">
    <img src="https://mrezasolidarnosti.org{{ asset('image/logo-email.jpg') }}" style="width: 200px;">

    <div style="margin: 24px 0;">
        {% block body %}{% endblock %}
    </div>

    <div>
        <div>Zajedno sa prosvetnim i univerzitetskim radnicima.</div>
        <div><b>Tvoja Mreža solidarnosti</b></div>
    </div>
</body>
</html>
