{% if show_captcha() %}
    <div>
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
        <div class="cf-turnstile" data-sitekey="{{ CLOUDFLARE_TURNSTILE_SITEKEY }}" data-theme="light"></div>
    </div>
{% endif %}
