{% if app.session.flashbag.peekAll %}
    <div class="my-4">
        {% for message in app.flashes('success') %}
            <div role="alert" class="alert alert-success mb-2">
                <span class="ti ti-circle-check text-2xl"></span>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div role="alert" class="alert alert-error mb-2">
                <span class="ti ti-exclamation-circle text-2xl"></span>
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}

