{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-10 mx-auto">
    <div class="rounded-lg bg-base-100 p-10 shadow-sm max-w-2xl mx-auto text-center">
        <div class="mb-8">
            <img src="{{ asset('image/professor_404.png') }}" alt="404 Error" class="max-w-xs mx-auto">
        </div>

        <h1 class="text-4xl font-bold mb-6">Stranica nije pronađena</h1>

        <p class="text-xl mb-8 text-gray-600">
            Stranica koju tražite ne postoji ili je premeštena.
        </p>

        <div class="space-y-4">
            <p class="text-gray-500">Kod greške:
                {{ status_code }}</p>
            <a href="{{ path('home') }}" class="btn btn-primary gap-2">
                <span class="ti ti-chevron-left text-2xl"></span>
                Nazad na početnu stranu
            </a>
        </div>
    </div>
</div>
{% endblock %}
