{% extends 'base_email.html.twig' %}

{% block body %}
    <div style="margin-bottom: 16px;">Dragi delegati,</div>

    <div>Postoji problem sa unetim podacima za oštećene prosvetne radnike u školu u kojoj ste delegat.</div>
    <div>Oštećeni <b>{{ damagedEducator.name }}</b> kod kojih smo našli pogrešan račun će automatski biti markirani kao obrisani.</div>
    <div>Molimo Vas da proverite podatke i unesete ispravne.</div>

    <div style="margin-left: 5px; margin-top: 25px;">
        <a href="https://mrezasolidarnosti.org{{ path('login') }}" style="padding: 8px;border-radius: 8px;background: #06C;text-decoration: none;color: #FFF;font-weight: 700;">Uloguj se na svoj nalog i ispravi podatke</a>
    </div>
{% endblock %}
