{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <div>Dobijene su nove instrukcije za uplatu donacije prosvetnim radnicima.</div>
    <div>Da biste ih videli, prijavite se na svoj nalog i posetite stranicu <a href="https://mrezasolidarnosti.org{{ path('donor_transaction_list') }}" style="text-decoration: none;">Instrukcije za uplatu</a></div>

    <div style="margin-top: 20px; margin-bottom: 30px;">
        <a href="https://mrezasolidarnosti.org{{ path('login', { 'email': user.email }) }}" id="link" style="padding: 8px;border-radius: 8px;background: #06C;text-decoration: none;color: #FFF;font-weight: 700;">Prijavi se</a>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px;">⚠️ <b>Važno:</b> Rok za uplatu je najviše <b>72 sata (3 dana)</b> od prijema ovog mejla. Ako uplata ne bude realizovana u tom roku, ove instrukcije će isteći. U tom slučaju, dobićete nove instrukcije čim budu dostupne.</div>

    <div>Hvala vam što ste deo naše zajednice i što zajedno čuvamo obrazovanje! ✊</div>
{% endblock %}
