{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <p>Najpre želimo da ti se od srca zahvalimo. Tvoja donacija nam je bila dragocena i ostaje važan deo onoga za šta se zajedno borimo.</p>
    <p>Želimo da te obavestimo da je tvoj nalog donatora odjavljen zbog duže neaktivnosti u sistemu.</p>
    <p>Naš algoritam automatski detektuje neaktivne naloge kako bismo održali ažurnu evidenciju aktivnih donatora. Razumemo da do toga može doći iz različitih razloga i iskreno nam je žao ako te je ova odluka neprijatno iznenadila.</p>
    <p>Ukoliko je ovo bila greška, ili ukoliko u budućnosti budeš želeo/la da nas ponovo podržiš, znaj da si  uvek dobrodošao/la.</p>

    <div>Tvoje mesto među nama je sigurno, bez obzira na sve okolnosti.</div>
    <div>Možeš se uvek ponovo prijaviti kao donator.</div>
{% endblock %}
