{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <p>Želimo da te obavestimo da si uklonjen/a sa liste donatora zbog neaktivnosti.</p>
    <p>Ukoliko je došlo do greške ili želiš ponovo da podržiš nastanike kroz Mrežu solidarnosti, možeš se prijaviti opet kad god poželiš.</p>

    <p>Hvala ti na dosadašnjoj podršci i razumevanju.</p>
{% endblock %}
