{% extends 'base_email.html.twig' %}

{% block body %}
    <p><b>Dragi naši saborci,</b></p>

    <p>Borba za pravdu u obrazovanju nije laka. Ali uz vašu podršku nismo posustali, jer ste nam svojim poverenjem pokazali da nismo sami. U borbi za važne stvari vreme često izmakne, a zahvalnost ostane neizrečena. Zato vam sada <b>od srca zahvaljujemo.</b></p>
    <p>Hvala što ste verovali u nas i u one koje podržavamo. Hvala što ste donirali, delili, bodrili. Što ste pokazali da solidarnost ne poznaje granice.</p>
    <p>Vaša podrška stigla je tačno tamo gde treba – do nastavnika koji se bore za pravdu i dostojanstvo, i koji znaju da nisu sami, <b>jer ste vi tu.</b></p>
    <p>Mreža solidarnosti danas je ono što vi u nju unosite. Vašom solidarnošću, poverenjem i delovanjem, Mreža je funkcionisala i rasla. Zajedno smo se trudili da informacije teku, da ljudi budu povezani, da podrška nikad ne zastane kako bi Mreža bila sve bolja.</p>
    <p>Vaša solidarnost bila je energija koja nas je nosila, budila, držala predanima i fokusiranima. Zato vam dugujemo doslednost, nastavak borbe i sistem koji ne odustaje od ljudi.</p>

    <p><b>U ime svih koji svakog dana čine obrazovanje živim i dostojanstvenim, od učiteljica do profesora, od nastavnika do osoblja u hodnicima škola i fakulteta – hvala!</b></p>
    <p><b>Ne stajemo.</b> Jer vaša podrška nas sve gura dalje.</p>
    <p>U solidarnosti,</p>
{% endblock %}
