{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zahvaljujemo ti što si deo Mreže solidarnosti koja ne dopušta da iko ostane sam kad sistem zakaže.</p>
    <p>Tvoj doprinos omogućava da podrška stigne onima koji se svakog dana bore za dostojanstvo u obrazovanju.</p>
    <p>Zahvaljujući tebi, nastavnici znaju da nisu sami.</p>
    <p>Tvoje poverenje nam daje snagu da istrajemo, da budemo povezani i prisutni tamo gde je podrška najpotrebnija.</p>
    <p>Hvala ti što si uz nas i uz one zbog kojih se ova borba vodi.</p>
    <p>U solidarnosti,</p>
{% endblock %}
