{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <div>Postoje instrukcije za uplatu koje čekaju Vašu proveru, molimo Vas da uđete na Vas profil i proverite instrukcije.</div>

    <div>
        <i>Sve instrukcije možeš da vidiš na stranici "<a href="https://mrezasolidarnosti.org{{ path('delegate_damaged_educator_choose_period') }}">Spisak svih instrukcija za proveru</a>" koja se nalazi unutar svakog perioda.</i>
    </div>
{% endblock %}
