{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <div>molimo te da nam pomogneš da zahvalimo donatorima - potvrdi pristigle uplate što pre.</div>

    <div>
        <div>Kako da to uradiš:</div>
        <ul>
            <li><a href="https://mrezasolidarnosti.org{{ path('login') }}">Prijavi</a> se na svoj profil</li>
            <li>Otvori stranicu "<a href="https://mrezasolidarnosti.org{{ path('delegate_damaged_educator_choose_period') }}">Spisak svih instrukcija za proveru</a>"</li>
            <li>Za svaku uplatu označi status: "Uplata potvrđena" ili "Uplata nije primljena".</li>
            <li>Time ste javili donatoru povratnu informaciju i zahvalili mu se.</li>
        </ul>
    </div>

    <div>Napomena: Ovo je važno i u interesu samih oštećenih nastavnika – dok se postojeće transakcije ne označe kao uplaćene ili neuplaćene, nove transakcije im neće biti dodeljivane.</div>
{% endblock %}
