{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <div>Podsećamo te da instrukcije za uplatu donacije uskoro ističu!</div>

    <div style="margin-top: 10px; margin-bottom: 10px;">
        <div>Ukoliko još nisi izvršio/la uplatu, molimo te da to uradiš, jer će instrukcije isteći sutra.</div>
        <div>Ako si uplatu već realizovao/la, potvrdi to na stranici "<a href="https://mrezasolidarnosti.org{{ path('donor_transaction_list') }}">Instrukcije za uplatu</a>".</div>
    </div>

    <div>Hvala ti na želji da podržiš naš rad i doprineseš značajnoj promeni.</div>
{% endblock %}
